.custom-cart{
    border:  none;
    padding: 30px;
    background: url("https://img.freepik.com/free-vector/abstract-decorative-halftone-background_1055-8241.jpg?w=740&t=st=1700053467~exp=1700054067~hmac=2fc6348da2407869b018f6ad2f551bf5028b55915d3f3a44edf9fdc977ec5df0");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
